/* color pallete: https://coolors.co/fffffc-13252f-f6ae2d-f26419-668de5 */

body {
	margin:0px;
	background: black;
}

h1 {
	margin: 0;
}

p {
	margin: 0;
}

#namecard {
	display: inline-flex;
	flex-direction: row;

	position: relative;
	margin: 0;
	margin-left: 5%;
	margin-top: 12%;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 1;

	align-items: center;
	justify-content: space-evenly;

	width: 54vw;

	background-color: rgba(255, 255, 252,  0.3);

	border-radius: 2vw;
}

#namecard-pfp {
	height:9vw;
	width:9vw;
}

#namecard-title {
	margin:0;
	font-size: 6vw;
	z-index: 1;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'Nunito Sans', sans-serif;
	color: #13252F;
}

#background-image {
	position:fixed;
	width:100%;
	top: 0;
	left: 0;
	margin:0px;
	z-index:-1;
}

#fade-to-content {
	position: relative;
	background: linear-gradient(rgba(19, 37, 47, 0), 30%, rgba(19, 37, 47, 1.0));
	height: 20vw;
	top: 11vw;
	width: 100%;
}

#content {
	position: relative;
	top: 11vw;
	height: 9000px;
	background: rgb(19, 37, 47);
}

#test-header {
	padding-left: 15vw;
	padding-top: 6vw;
	color: #F26419;
	font-size: 4vw;
}
