/* color pallete: https://coolors.co/fffffc-13252f-f6ae2d-f26419-668de5 */

body {
	margin:0px;
	background: black;
}

h1 {
	margin: 0;
}

p {
	margin: 0;
}

#namecard {
	display: inline-flex;
	flex-direction: row;

	margin: 0;
	padding: 2.5%;
	padding-bottom: 2%;

	align-items: center;
	justify-content: space-evenly;
}

#titlecard {
	display: inline-flex;
	flex-direction: column;

	position: relative;
	margin: 0;
	margin-left: 2%;
	margin-top: 10%;
	z-index: 1;

	width: 60vw;

	background-color: rgba(255, 255, 252, 0.3);

	border-radius: 2vw;
}

#namecard-pfp {
	height:9vw;
	width:9vw;
}

#namecard-title {
	margin:0;
	font-size: 6vw;
	z-index: 1;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'Nunito Sans', sans-serif;
	color: #13252F;
}

#background-image {
	position:fixed;
	width:100%;
	top: 0;
	left: 0;
	margin:0px;
	z-index:-1;
}

#linkcard {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;

	padding-right: 3%;
	padding-bottom: 2%;
}

.link-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5vw;
}

.linkcard-image {
	width: 13%;
}

.linkcard-link {
	font-size: 1.6vw;
	color: #13252F;
	text-decoration: none;
	font-family: "Nunito Sans";
}

.linkcard-link:hover {
	text-decoration: underline;
}

#fade-to-content {
	position: relative;
	background: linear-gradient(rgba(19, 37, 47, 0), rgba(19, 37, 47, 1.0));
	height: 20vw;
	top: 11.4vw;
	width: 100%;
}

#content {
	display: flex;
	flex-direction: column;

	padding-left: 15vw;
	padding-right: 15vw;
	padding-top: 10vw;

	position: relative;
	top: 11.4vw;
	background: rgb(19, 37, 47);
	height: calc(100vh - 10vw);
}

.content-header {
	color: #FAE62D;
	font-family: "Nunito-Sans", sans-serif;
	font-size: 3.5vw;
	margin-bottom: 1.5vw;
}

.content-text {
	color: #F26419;
	font-family: "Nunito-Sans", sans-serif;
	font-size: 1.35vw;
	margin-left: 1.5vw;
}

.linktree {
	width: 15vw;
}
