body {
	margin:0px;
}

.splash {
	display:flex;
}

.splash-title {
	position:relative;
	margin:0;
	padding-left: 30%;
	padding-top: 15%;
	z-index: 1;
}

.splash-image {
	position:absolute;
	width:100%;
	top: 0;
	left: 0;
	margin:0px;
	z-index:0;
}
